# Archivos de compilación
*.o
*.out
*.exe
*.bin
*.elf

# Archivos de depuración y logs
*.log
*.tmp
*.bak
*.swp
*.pid
*.stackdump

# Directorios de compilación
/build/
/dist/

# Archivos generados por editores
.vscode/
.idea/
*.code-workspace

# Archivos del sistema operativo
.DS_Store
Thumbs.db

# Archivos temporales de Git
*.orig
*.lock

# Otros archivos no deseados
*.gch
*.d
