# Ignorar archivos binarios y de compilación
*.o
*.out
*.exe

# Archivos generados por el sistema
.DS_Store
Thumbs.db

# Archivos de logs y temporales
*.log
*.tmp

# Configuraciones de editores
.vscode/
.idea/
*.swp
